@font-face 
{
  font-family: 'Poppins-Light';
  src: url('../Font/Poppins-Light.ttf');
}
@font-face 
{
  font-family: 'Poppins';
  src: url('../Font/Poppins-Regular.ttf');
}
@font-face 
{
  font-family: 'Poppins-Medium';
  src: url('../Font/Poppins-Medium.ttf');
}

* {
    font-family: 'Poppins';
}

body {
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    background-color: white;
    width: 87%;
    height: 87%;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    overflow: hidden;
}

.login-box {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-container {
    text-align: center;
    width: 65%;
}

.title {
    font-family: 'Poppins-Medium';
    font-size: 35px;
    font-weight: bold;
    color: black;
    margin-bottom: 50px;
    margin-top: -20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input {
    padding: 16px 30px;
    margin: 8px 0;
    border: 1px solid #e5e7eb;
    background-color: #f3f4f6;
    border-radius: 8px;
    font-size: 14px;
}

.btn-masuk {
    width: 100%;
    color: white;
    background-color: #30B0C7;
    font-size: 15px;
    padding: 16px 22px;
    border-radius: 8px;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.btn-masuk:hover {
    background-color: #2480aa;
}

.btn-google {
    width: 100%;
    color: #30B0C7;
    border: 1px solid #30B0C7;
    background-color: transparent;
    font-size: 15px;
    padding: 16px 22px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 8px;
    transition: all 0.2s ease-in-out;
}

.btn-google:hover {
    color: white;
    background-color: #30B0C7;
}

.divider {
    text-align: center;
    margin: 30px 0;
    font-size: 12px;
    color: #6b7280;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: #ddd;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.register-text {
    font-size: 12px;
    color: #6b7280;
    margin-top: 10px;
}

.register-text a {
    color: #30B0C7;
    text-decoration: none;
    border-bottom: 1px dashed #30B0C7;
}

.register-text a:hover {
    color: #4338ca;
}

.image-box {
    width: 60%;
    background-color: #DCFAFF;
    background-image: url('../Images/hero-right.svg');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
